<!DOCTYPE html>
<html ng-app = "webRtc">
<head>
	<title>Live Talk</title>
	<header style = 'background-color:#894b10;color:white;font-style: normal;font-size: 30px;text-align: center'>Welcome To Web RTC Zone</header>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">


   <link rel="stylesheet" type="text/css" href="bootstrap.css">
   <script type="text/javascript" src="bower_components/angular/angular.js"></script>
   <script type="text/javascript" src="app/main.controller.js"></script>
   <script type="text/javascript" src="app/peer.js"></script>
   <script type="text/javascript" src="socket.io.js"></script>
</head>
<body  ng-controller = 'mainController'>
<div class = 'container-fluid'>
   
  <div ng-if = 'login' style = 'margin:auto;margin-top: 30px'>
     <form ng-submit = 'logIn()' style = 'margin:auto;width:30%'>
         <input type="text" placeholder="user name" ng-model = 'userName' class="form-control" />
         <button type='submit' class = 'btn btn-success form-control' >Submit</button>
     </form>
  </div>









   <div class = 'row'>
      <div class = 'col-md-2' ng-if = 'loggedIn'>
  	       <div ng-repeat = 'user in users' ng-click = 'selectUser(user)' class="well">
                {{user.name}}
           </div>
      </div>
     
      <div class = 'col-md-5' ng-if = 'startChat'>
          
          <div>
          <label>Local stream(you)</label>
           <video id="localVideo" style = "background:#41e060;width:300px;height:300px;margin-top:50px" autoplay></video>
           <button ng-click = 'startVideo()'>Video Call</button>
          </div> 
       </div>
       <div class="col-md-5" ng-if='startChat'> 
       
       <div>  
            <label>Remote stream(other)</label>
           <video id="remoteVideo" style = "background:#3054e5;width:300px;height:300px;margin-top:50px" autoplay></video>
           <button ng-model = 'remoteEvent' ng-click = 'hangUp(remoteEvent)'>Answer</button>
           <p ng-if = 'ringing'>Someone is calling......</p>
       </div>
       </div>

      

   </div>
</div>

    <script>
    var socket = io.connect();
   //           navigator.getMedia =  (navigator.getUserMedia
   //                                 || navigator.webkitGetUserMedia 
   //                                 || navigator.mozGetUserMedia 
   //                                 || navigator.msGetUserMedia)
   // // function startVideo(){
   //  navigator.getMedia({video:true},successCallback,failureCallback);
   // }
    
   //  function successCallback(stream){
   //  	var video = document.getElementById('localVideo');
   //  	video.src = window.URL.createObjectURL(stream);
   //  }
   //  function failureCallback(err){
   //  	console.log('error on connecting getUserMedia',err);
   //  }


    </script>

<!-- <form ng-submit = 'onLogin()'>
 <input type="text" name="" placeholder="userName">
 <input type="password" name="" placeholder="password">
 <input type="submit" name="">
 </form> -->
</body>
</html>